@font-face {
    font-family: 'HandelGothicBTRegular';
    src: url('./font/handel_gothic-webfont.eot');
    src: url('./font/handel_gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('./font/handel_gothic-webfont.woff') format('woff'),
         url('./font/handel_gothic-webfont.ttf') format('truetype'),
         url('./font/handel_gothic-webfont.svg#HandelGothicBTRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HandelGothicDLight';
    src: url('./font/handel_gothic_light-webfont.eot');
    src: url('./font/handel_gothic_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('./font/handel_gothic_light-webfont.woff') format('woff'),
         url('./font/handel_gothic_light-webfont.ttf') format('truetype'),
         url('./font/handel_gothic_light-webfont.svg#HandelGothicDRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'HandelGothicBTRegular';
}

h3 {
	font-size: 18px;
	font-weight: normal;
	color: #464646;
}

.webengTitle {
	font-family: HandelGothicBTRegular !important;
	display: inline-block;
}

.webengText {
	font-family: HandelGothicDLight !important;
	font-size: 16px;
}

.webengRed {
	color: #bc0f11;
}

.noDecoration {
	text-decoration: none;
}

fieldset {
	border: 1px #efefef solid;
	margin-bottom: 10px;
	padding: 10px;
	box-shadow: 0 8px 10px -10px black;
	border-radius: 5px;
}

legend {
	font-size: 14px;
	font-weight: lighter;
	font-family: 'HandelGothicDLight';
	padding: 3px;
}

input, select {
	margin-right: 10px;
}

input[type="radio"] {
	margin-right: 0;
}

img {
	vertical-align: middle;
	margin-right: 10px;
}

hr {
	color: #efefef;
	border: 1px #efefef solid;
}

label {

}

.icon32.icon-settings, #icon-options-general {
	background: url("../img/gear-white.png") no-repeat scroll transparent;
	margin-right: 5px;
	padding-right: 0;
}

#thumb_bordercolor_selector, #box_backgroundcolor_selector, #desc_fontcolor_selector {
	display: inline-block;
}

#thumb_bordercolor_selector div, #box_backgroundcolor_selector div, #desc_fontcolor_selector div {
    background: url("../img/colorpicker/select.png") repeat scroll center center transparent;
    height: 15px;
    width: 15px;
}

/* table of galleries */ 

#galleries_table {
	border: 1px #ccc solid;
	width: 700px;
	border-radius: 8px;
}

#galleries_table th:FIRST-CHILD {
	background: #ccc;
	color: #333;
	border-radius: 6px 0px 0px 0px;
}

#galleries_table th {
	background: #ccc;
	color: #333;
	font-size: 12px;
	height: 30px;
}

#galleries_table th:LAST-CHILD {
	background: #ccc;
	color: #333;
	border-radius: 0px 6px 0px 0px;
}

#galleries_table th span {
	padding: 5px;
}

#galleries_table tr {
	height: 26px;
}

#galleries_table td {
	text-align: center;
	padding: 10px;
}

#galleries_table th.id {
	width: 50px;
}

#galleries_table th.user_pic {
	width: 100px;
}

img.user_pic {
	height: 50px;
}

#galleries_table th.user {
	width: 200px;
}

#galleries_table th.action {
	width: 200px;
}

#galleries_table th.type {
	width: 200px;
}

#galleries_table tr.navigation {
	height: 10px;
}

#galleries_table td.navigation {
	width: 800px;
	padding: 2px;
	background-color: #efefef;
	border-radius: 0px 0px 6px 6px;
}

#loading {
	
}